@font-face {
	font-family: "Recife Display";
	src: url(/fonts/RecifeDisplay-Book.woff2);
}

@font-face {
	font-family: "Maison Neue";
	src: url(/fonts/MaisonNeue-Mono.woff2);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
}

body {
	font-family: "Recife Display", serif;
	margin: 0 2rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

.cta {
	color: white;
	background-color: rgb(31, 30, 30);
	border: 1px solid rgb(31, 30, 30);
	font-size: 0.6rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-weight: 900;
}

.cta:hover,
.cta:active {
	color: rgb(31, 30, 30);
	background-color: white;
}

.header {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(92, 92, 92, 0.2);
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 100;
}

.header .nav-bar {
	font-family: "Maison Neue", sans-serif;
}

.header .nav-bar-list {
	list-style-type: none;
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	font-size: 0.8rem;
}
.header .mobile-nav-list {
	list-style-type: none;
	font-size: 1.5rem;
}

.header .nav-bar-link,
.header .logo-link,
.header .mobile-nav-link {
	color: black;
	position: relative;
}

.header .nav-bar-link::after,
.header .mobile-nav-link::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	transition: 1s;
	bottom: 0;
	left: 0;
}

.header .logo-link::after {
	content: "";
	width: 0;
	height: 3px;
	position: absolute;
	transition: 1s;
	bottom: 4px;
	left: 0;
}

.header .nav-bar-link:hover::after,
.header .nav-bar-link.active::after,
.header .logo-link:hover::after,
.header .logo-link.active::after,
.header .mobile-nav-link:hover::after,
.header .mobile-nav-link.active::after {
	width: 100%;
	background-color: black;
}

.header .logo {
	font-size: 2rem;
	font-weight: 400;
}

.header .nav-activator {
	appearance: none;
	background-color: transparent;
	outline: none;
	border: none;
	display: none;
}
.header .mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 0 10px 10px #0000007c;
	transform: translateX(-500px);
	transition: 1s;
	visibility: hidden;
	z-index: 10;
}
.header .nav-activator:focus .mobile-nav {
	transform: translateX(0px);
	visibility: visible;
}

.header .mobile-nav-list .icon {
	display: inline-block;
	height: 2rem;
}

.main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	margin-bottom: 2rem;
}
.main .headline {
	aspect-ratio: 1/1;
	color: #46482f;
	background-color: #b4b19d;
	display: grid;
	border-radius: 1rem;
	place-items: center;
}

.main .big-square,
.main .small-square,
.main .big-square-image {
	aspect-ratio: 1/1;
	overflow: hidden;
}
.main .small-square,
.main .big-square-image {
	position: relative;
}

.main .big-square {
	border-radius: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}
.main .big-square-image {
	border-radius: 1rem;
}
.main .small-square {
	border-radius: 0.5rem;
}

.headline .headline-content {
	max-width: 12ch;
	text-align: center;
	font-size: 2rem;
	font-weight: 400;
}

.main .small-square::after,
.main .big-square-image::after {
	content: "";
	width: 50%;
	height: 50%;
	border-radius: 50%;
	position: absolute;
	background-color: transparent;
	top: 25%;
	left: 25%;
	transition: background-color 0.5s;
}

.main .reign:hover::after {
	background-color: rgb(105, 114, 125);
}
.main .kigali:hover::after {
	background-color: rgb(68, 95, 69);
}
.main .vilnius:hover::after {
	background-color: rgb(223, 195, 175);
}
.main .baden-baden:hover::after {
	background-color: rgb(35, 33, 33);
}
.main .nova:hover::after {
	background-color: rgb(127, 135, 87);
}
.main .chamarel:hover::after {
	background-color: rgb(162, 69, 74);
}
.main .barilius:hover::after {
	background-color: rgb(177, 159, 156);
}
.main .portland:hover::after {
	background-color: rgb(169, 168, 163);
}
.main .baku:hover::after {
	background-color: rgb(230, 204, 179);
}
.main .rosemont:hover::after {
	background-color: rgb(198, 188, 138);
}
.main .ponticelli:hover::after {
	background-color: rgb(223, 201, 174);
}
.main .dakhla:hover::after {
	background-color: rgb(214, 208, 196);
}
.main .broken-hill:hover::after {
	background-color: rgb(196, 193, 198);
}
.main .oldbury:hover::after {
	background-color: rgb(68, 67, 68);
}
.main .greensburg:hover::after {
	background-color: rgb(145, 160, 132);
}
.main .merzouga:hover::after {
	background-color: rgb(220, 205, 197);
}
.main .glenveagh:hover::after {
	background-color: rgb(75, 86, 83);
}
.main .eslamabad:hover::after {
	background-color: rgb(181, 178, 154);
}
.main .wexford:hover::after {
	background-color: rgb(205, 208, 206);
}
.main .saint-malo:hover::after {
	background-color: rgb(223, 195, 175);
}
.main .havasupai:hover::after {
	background-color: rgb(161, 79, 61);
}
.main .monte-castelo:hover::after {
	background-color: rgb(248, 234, 191);
}
.main .port-louis:hover::after {
	background-color: rgb(10, 12, 27);
}
.main .cherbourg:hover::after {
	background-color: rgb(55, 60, 70);
}
.main .burano:hover::after {
	background-color: rgb(243, 202, 89);
}

.newsletter-and-social {
	display: grid;
	padding: 1rem;
	grid-template-columns: 2fr 1fr;
	border-top: 1px solid rgba(92, 92, 92, 0.2);
	border-bottom: 1px solid rgba(92, 92, 92, 0.2);
	margin-bottom: 2rem;
}

.newsletter-and-social .newsletter {
	border-right: 1px solid rgba(92, 92, 92, 0.2);
}
.newsletter-and-social .social {
	padding-left: 1rem;
	justify-self: center;
}

.newsletter .newsletter-headline {
	width: 12ch;
	color: rgb(31, 30, 30);
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1rem;
}
.newsletter .newsletter-input {
	font-family: "Maison Neue", sans-serif;
	width: 90%;
	padding: 0.5rem;
	font-size: 1.3rem;
	display: block;
	margin-bottom: 1rem;
}

.newsletter .newsletter-input:valid ~ .newsletter-button {
	cursor: pointer;
}

.newsletter .newsletter-input:invalid ~ .newsletter-button {
	background-color: grey;
	color: white;
	cursor: auto;
}

.social .social-headline {
	text-align: center;
	width: 15ch;
	color: rgb(31, 30, 30);
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.social .social-nav-list {
	list-style-type: none;
	display: grid;
	justify-content: center;
	grid-template-columns: 5rem 5rem;
	gap: 1rem;
}
.footer {
	margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
	.header .nav-activator {
		display: initial;
	}
	.header .nav-bar {
		display: none;
	}
	.main {
		grid-template-columns: initial;
	}
	.newsletter-and-social {
		grid-template-columns: 1fr;
	}
	.newsletter-and-social .newsletter {
		border-right: none;
		border-bottom: 1px solid rgba(92, 92, 92, 0.2);
		padding-bottom: 1rem;
	}
	.newsletter .newsletter-headline {
		font-size: 1.7rem;
	}
	.newsletter .newsletter-input {
		font-size: 1rem;
		width: 80%;
	}
	.newsletter-and-social .social {
		padding-left: 0;
		padding-top: 1rem;
	}
	.social .social-headline {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 460px) {
	body {
		margin: 0 1rem;
	}
	.main .headline-content {
		font-size: 1.5rem;
	}
	.newsletter .newsletter-input {
		font-size: 0.9rem;
	}
}
