@font-face {
	font-family: "Recife Display";
	src: url(/fonts/RecifeDisplay-Book.woff2);
}

@font-face {
	font-family: "Maison Neue";
	src: url(/fonts/MaisonNeue-Mono.woff2);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Recife Display", serif;
	margin: 0 2rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

.cta {
	color: white;
	background-color: rgb(31, 30, 30);
	border: 1px solid rgb(31, 30, 30);
	font-size: 0.6rem;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	font-weight: 900;
}

.cta:hover,
.cta:active {
	color: rgb(31, 30, 30);
	background-color: white;
}
.header {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(92, 92, 92, 0.2);
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 100;
}

.header .nav-bar {
	font-family: "Maison Neue", sans-serif;
}

.header .nav-bar-list {
	list-style-type: none;
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	font-size: 0.8rem;
}
.header .mobile-nav-list {
	list-style-type: none;
	font-size: 1.5rem;
}

.header .nav-bar-link,
.header .logo-link,
.header .mobile-nav-link {
	color: black;
	position: relative;
}

.header .nav-bar-link::after,
.header .mobile-nav-link::after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	transition: 1s;
	bottom: 0;
	left: 0;
}

.header .logo-link::after {
	content: "";
	width: 0;
	height: 3px;
	position: absolute;
	transition: 1s;
	bottom: 4px;
	left: 0;
}

.header .nav-bar-link:hover::after,
.header .nav-bar-link.active::after,
.header .logo-link:hover::after,
.header .logo-link.active::after,
.header .mobile-nav-link:hover::after,
.header .mobile-nav-link.active::after {
	width: 100%;
	background-color: black;
}
.header .logo {
	font-size: 2rem;
	font-weight: 400;
}

.header .nav-activator {
	appearance: none;
	background-color: transparent;
	outline: none;
	border: none;
	display: none;
}
.header .mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: white;
	padding: 1rem;
	box-shadow: 0 0 10px 10px #0000007c;
	transform: translateX(-500px);
	transition: 1s;
	visibility: hidden;
	z-index: 10;
}
.header .nav-activator:focus .mobile-nav {
	transform: translateX(0px);
	visibility: visible;
}
.header .mobile-nav-list .icon {
	display: inline-block;
	height: 2rem;
}

.background {
	display: grid;
	grid-template-rows: 1fr auto;
	place-items: center;
	background-image: url(/images/samples-background.jpeg);
	height: calc(75vh - 5rem);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1rem;
	margin-bottom: 2.5rem;
}

.background .background-headline {
	text-align: center;
	color: white;
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.reasons {
	font-family: "Maison Neue", sans-serif;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 2rem;
	gap: 1rem;
	margin-bottom: 1rem;
}
.reason {
	color: white;
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.5rem;
	font-size: 0.6rem;
	backdrop-filter: blur(5px);
}

.samples {
	margin-bottom: 4rem;
}

.samples .samples-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
	margin-bottom: 1rem;
}

.samples .sample-link {
	color: rgb(60, 60, 60);
	font-size: 0.5rem;
	text-align: center;
}
.sample .sample-square {
	border-color: #e5e0da;
	display: grid;
	align-items: flex-end;
	padding-bottom: 0.5rem;
	color: transparent;
	border-radius: 5%;
	aspect-ratio: 1/1;
	border: 0px solid transparent;
	transition: color 1s, border 0.5s;
}

.sample:hover .sample-square:not(.blackfont) {
	color: white;
	border: 2rem solid #e5e0da;
}

.sample:hover .sample-square.black-font {
	color: black;
	border: 2rem solid #e5e0da;
}

.sample .sample-square.kobe {
	background-color: rgb(35, 40, 32);
}
.sample .sample-square.pantanal {
	background-color: rgb(38, 57, 58);
}
.sample .sample-square.glenveagh {
	background-color: rgb(75, 86, 83);
}
.sample .sample-square.hazel {
	background-color: rgb(118, 124, 115);
}
.sample .sample-square.kigali {
	background-color: rgb(68, 95, 69);
}
.sample .sample-square.greensburg {
	background-color: rgb(145, 160, 132);
}
.sample .sample-square.eslamabad {
	background-color: rgb(181, 178, 154);
}
.sample .sample-square.havasupai {
	background-color: rgb(161, 79, 61);
}
.sample .sample-square.st-mary {
	background-color: rgb(134, 100, 99);
}
.sample .sample-square.granada {
	background-color: rgb(134, 100, 99);
}
.sample .sample-square.chamarel {
	background-color: rgb(162, 69, 74);
}

.sample .sample-square.navajo {
	background-color: rgb(181 79 72);
}
.sample .sample-square.arizona {
	background-color: rgb(203, 109, 104);
}
.sample .sample-square.broken-hill {
	background-color: rgb(196, 193, 198);
}

.sample .sample-square.trouville {
	background-color: rgb(222, 219, 220);
}
.sample .sample-square.wexford {
	background-color: rgb(205, 208, 206);
}
.sample .sample-square.vilnius {
	background-color: rgb(223, 195, 175);
}
.sample .sample-square.baaja {
	background-color: rgb(238, 199, 166);
}
.sample .sample-square.baku {
	background-color: rgb(230, 204, 179);
}
.sample .sample-square.ajman {
	background-color: rgb(251, 238, 216);
}
.sample .sample-square.merzouga {
	background-color: rgb(220, 205, 197);
}
.sample .sample-square.sidi-ali {
	background-color: rgb(222, 208, 203);
}
.sample .sample-square.ricasoli {
	background-color: rgb(211, 170, 169);
}
.sample .sample-square.monte-castelo {
	background-color: rgb(248, 234, 191);
}
.sample .sample-square.burano {
	background-color: rgb(243, 202, 89);
}
.sample .sample-square.gallipoli {
	background-color: rgb(236, 195, 99);
}
.sample .sample-square.bo-kaap {
	background-color: rgb(207, 93, 60);
}
.sample .sample-square.oyo {
	background-color: rgb(175, 162, 144);
}
.sample .sample-square.belleville {
	background-color: rgb(189, 186, 175);
}
.sample .sample-square.dakhla {
	background-color: rgb(214, 208, 196);
}
.sample .sample-square.ponticelli {
	background-color: rgb(223, 201, 174);
}
.sample .sample-square.rimini {
	background-color: rgb(215, 196, 165);
}
.sample .sample-square.niigata {
	background-color: rgb(81, 27, 32);
}

.sample .sample-square.port-louis {
	background-color: rgb(10, 12, 27);
}
.sample .sample-square.khao-sok {
	background-color: rgb(35, 15, 21);
}
.sample .sample-square.baden-baden {
	background-color: rgb(35, 33, 33);
}
.sample .sample-square.karlstad {
	background-color: rgb(58, 44, 56);
}
.sample .sample-square.chebourg {
	background-color: rgb(55, 60, 70);
}
.sample .sample-square.reign {
	background-color: rgb(105, 114, 125);
}
.sample .sample-square.chefchaouen {
	background-color: rgb(156, 174, 171);
}
.sample .sample-square.oldbury {
	background-color: rgb(68, 67, 68);
}
.sample .sample-square.bampton {
	background-color: rgb(101, 100, 103);
}
.sample .sample-square.saint-malo {
	background-color: rgb(128, 126, 125);
}
.sample .sample-square.portland {
	background-color: rgb(169, 168, 163);
}
.sample .sample-square.nova {
	background-color: rgb(127, 135, 87);
}
.sample .sample-square.rosemont {
	background-color: rgb(198, 188, 138);
}
.sample .sample-square.barilius {
	background-color: rgb(177, 159, 156);
}
.sample .sample-square.courchevel {
	background-color: rgb(250, 250, 244);
}

.sample .sample-info {
	margin-top: 0.5rem;
}

.testimonials {
	overflow-x: scroll;
	scroll-behavior: smooth;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100%;
	gap: 1rem;
	margin-bottom: 2rem;
}
.testimonials .testimonial {
	padding: 0 1rem;
	font-size: 1.5rem;
	text-align: center;
	aspect-ratio: 2/1;
	color: rgb(66, 94, 68);
	background-color: rgb(244, 237, 230);
	display: grid;
	align-content: center;
	border-radius: 1rem;
}

.testimonials .testimonial-author {
	padding-top: 1rem;
	font-family: "Maison Neue", sans-serif;
	font-size: 0.5rem;
}
.testimonial .testimonial-link {
	color: rgb(66, 94, 68);
}

.newsletter-and-social {
	display: grid;
	padding: 1rem;
	grid-template-columns: 2fr 1fr;
	border-top: 1px solid rgba(92, 92, 92, 0.2);
	border-bottom: 1px solid rgba(92, 92, 92, 0.2);
	margin-bottom: 2rem;
}

.newsletter {
	border-right: 1px solid rgba(92, 92, 92, 0.2);
}
.social {
	padding-left: 1rem;
	justify-self: center;
}

.newsletter .newsletter-headline {
	width: 12ch;
	color: rgb(31, 30, 30);
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 1rem;
}
.newsletter .newsletter-input {
	font-family: "Maison Neue", sans-serif;
	width: 90%;
	padding: 0.5rem;
	font-size: 1.3rem;
	display: block;
	margin-bottom: 1rem;
}

.newsletter .newsletter-input:valid ~ .newsletter-button {
	cursor: pointer;
}

.newsletter .newsletter-input:invalid ~ .newsletter-button {
	background-color: grey;
	color: white;
	cursor: auto;
}

.social .social-headline {
	text-align: center;
	width: 15ch;
	color: rgb(31, 30, 30);
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
}

.social .social-nav-list {
	list-style-type: none;
	display: grid;
	justify-content: center;
	grid-template-columns: 5rem 5rem;
	gap: 1rem;
}
.footer {
	margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
	.header .nav-activator {
		display: initial;
	}
	.header .nav-bar {
		display: none;
	}

	.background .background-headline {
		font-size: 2rem;
	}
	.reasons {
		grid-template-columns: initial;
		justify-content: center;
	}

	.samples .samples-list {
		grid-template-columns: 1fr 1fr;
	}

	.newsletter-and-social {
		grid-template-columns: 1fr;
	}
	.newsletter-and-social .newsletter {
		border-right: none;
		border-bottom: 1px solid rgba(92, 92, 92, 0.2);
		padding-bottom: 1rem;
	}
	.newsletter .newsletter-headline {
		font-size: 1.7rem;
	}
	.newsletter .newsletter-input {
		font-size: 1rem;
		width: 80%;
	}
	.newsletter-and-social .social {
		padding-left: 0;
		padding-top: 1rem;
	}
	.social .social-headline {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 600px) {
	.testimonials .testimonial {
		font-size: 1rem;
	}
}

@media screen and (max-width: 460px) {
	body {
		margin: 0 1rem;
	}

	.background .background-headline {
		font-size: 1.7rem;
	}

	.testimonials .testimonial {
		font-size: 1rem;
	}

	.newsletter .newsletter-input {
		font-size: 0.9rem;
	}
}
